<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wstro.examplecollect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.CommonListActivity">
        </activity>
        <activity android:name=".views.StickyHeaderListActivity">
        </activity>
        <activity android:name=".views.RecyclerViewPageActivity">
        </activity>
        <activity android:name=".views.CustomTextActivity">
        </activity>
        <activity android:name=".views.PullRefreshListActivity"/>
        <activity android:name=".views.ToolbarActivity">
        </activity>
        <activity android:name=".views.VoiceActivity">
        </activity>
        <activity android:name=".views.CalendarActivity">
        </activity>
    </application>

</manifest>